<QueryConfig xmlns="http://api.platform.boomi.com/">
  <QueryFilter>
    <expression operator="and" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="GroupingExpression"> 
        <nestedExpression operator="EQUALS" property="componentType"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="SimpleExpression">
           <argument>$componentType</argument>
        </nestedExpression>
	<nestedExpression operator="EQUALS" property="componentId"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="SimpleExpression">
           <argument>$componentID</argument>
        </nestedExpression>
 </expression>
  </QueryFilter>
</QueryConfig>
